[Unit]
Description=haproxy
After=network-online.target NetworkManager-wait-online.service
Wants=network-online.target NetworkManager-wait-online.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 10
ExecStartPre=-/bin/podman kill haproxy
ExecStartPre=-/bin/podman rm haproxy
ExecStartPre=/bin/podman pull quay.io/openshift/origin-haproxy-router
ExecStart=/bin/podman run --name haproxy \
  --net=host \
  --privileged \
  --entrypoint=/usr/sbin/haproxy \
  -v /etc/haproxy/haproxy.conf:/var/lib/haproxy/conf/haproxy.conf:Z \
  quay.io/openshift/origin-haproxy-router -f /var/lib/haproxy/conf/haproxy.conf
ExecStop=/bin/podman rm -f haproxy

[Install]
WantedBy=multi-user.target
